<div id="p_shape_shift_page" class="page" xmlns="http://www.w3.org/1999/html">
    <section class="content-header">
        <h1><img src="plugins/shape_shift/img/shapeshift_nxt_share.png" height="32px"> Shape Shift Integration Plugin</h1>
    </section>
    <section class="content">
        <div style="color:#838383;margin-bottom:5px">
            <p>Plugin for integration with the Shape Shift exchange</p>
            <strong data-i18n="shape_shift_nxt_available">NXT available for exchange</strong>: <span id="shape_shift_nxt_avail"></span><br>
        </div>
        <div class="form-inline">
            <div class="form-group col-lg-12">
                <label data-i18n="currencies">Currencies</label>
                <select id="shape_shift_currency_0" class="form-control currency-select"></select>
                <select id="shape_shift_currency_1" class="form-control currency-select"></select>
                <select id="shape_shift_currency_2" class="form-control currency-select"></select>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header"><h3 class="box-title" data-i18n="shape_shift_exchange_to_curreny">Exchange NXT to Currency</h3></div>
            <div class="box-body no-padding">
                <div class="data-container data-loading">
                    <table class="table table-striped" id="p_shape_shift_buy_nxt">
                        <thead>
                        <tr>
                            <th data-i18n="currency">Currency</th>
                            <th data-i18n="symbol">Symbol</th>
                            <th data-i18n="rate">Rate</th>
                            <th data-i18n="action">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32"/></div>
                    <div class="data-empty-container" data-i18n="shape_shift_no_trading_pair">No trading pairs.</div>
                </div>
                <div class="data-pagination"></div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header"><h3 class="box-title" data-i18n="shape_shift_exchange_to_nxt">Exchange Currency to NXT</h3></div>
            <div class="box-body no-padding">
                <div class="data-container data-loading">
                    <table class="table table-striped" id="p_shape_shift_sell_nxt">
                        <thead>
                        <tr>
                            <th data-i18n="currency">Currency</th>
                            <th data-i18n="symbol">Symbol</th>
                            <th data-i18n="rate">Rate</th>
                            <th data-i18n="action">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32"/></div>
                    <div class="data-empty-container" data-i18n="shape_shift_no_trading_pair">No trading pairs.</div>
                </div>
                <div class="data-pagination"></div>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header"><h3 class="box-title" data-i18n="shape_shift_my_exchanges">My Exchanges</h3></div>
            <div class="box-body no-padding">
                <div class="data-container data-loading">
                    <table class="table table-striped" id="p_shape_shift_my_table">
                        <thead>
                        <tr>
                            <th data-i18n="date">Date</th>
                            <th data-i18n="status">Status</th>
                            <th data-i18n="deposit_address">Deposit Address</th>
                            <th data-i18n="Amount">Amount</th>
                            <th data-i18n="Type">Type</th>
                            <th data-i18n="withdrawal_address">Withdrawal Address</th>
                            <th data-i18n="Amount">Amount</th>
                            <th data-i18n="Type">Type</th>
                            <th data-i18n="transaction">Transaction</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32"/></div>
                    <div class="data-empty-container" data-i18n="shape_shift_no_recent_transactions_found">No recent transactions found.</div>
                </div>
                <div class="data-pagination"></div>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header"><h3 class="box-title" data-i18n="shape_shift_latest_exchanges">Latest NXT Exchanges</h3></div>
            <div class="box-body no-padding">
                <div class="data-container data-loading">
                    <table class="table table-striped" id="p_shape_shift_table">
                        <thead>
                        <tr>
                            <th data-i18n="from">From</th>
                            <th data-i18n="to">To</th>
                            <th data-i18n="time">Time</th>
                            <th data-i18n="amount">Amount</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32"/></div>
                    <div class="data-empty-container" data-i18n="shape_shift_no_recent_transactions_found">No recent transactions found.</div>
                </div>
                <div class="data-pagination"></div>
            </div>
        </div>
    </section>
</div>